Repository ju-Skinner/supreme-waffle: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint

ci: add job to deploy doc-components
  .github/workflows/release-packages.yml
Due: none

fix(core-react): custom elements lazy loading
  libs/react/src/index.ts
Due: eslint

ci: remove artifact download for doc-components build step
  .github/workflows/release-packages.yml
Due: none

fix(core): out of sync package version
  .release-please-manifest.json
  libs/core/package.json
Due: none

fix(doc-components): fix out of sync versioning]
  .release-please-manifest.json
  libs/doc-components/package.json
Due: none

fix(core-react): remove copy from build step
  libs/react/package.json
Due: none

ci: check for path releasesd
  .github/workflows/release-please.yml
Due: none

ci: update version numbers
  libs/core/package.json
  package-lock.json
Due: none

chore: update package versions
  libs/core/package.json
  libs/react/package.json
  package-lock.json
Due: none

ci: update publish-npm workflow to run lerna version
  .github/workflows/actions/publish-npm/action.yml
Due: none

ci(doc-components): fix repo url for provenance
  libs/doc-components/package.json
Due: none

docs: add documentation regarding assets for icons
  libs/core/.gitignore
  libs/core/package.json
  libs/core/src/stories/_helpers/index.ts
  libs/core/src/stories/assets.docs.mdx
  libs/core/stencil.config.ts
  libs/core/tsconfig.json
  libs/react/package.json
  package-lock.json
Due: eslint

fix: change icon dependency to * to get latest upon update
  libs/core/package.json
  libs/react/package.json
  package-lock.json
Due: none

chore: version bump
  libs/core/package.json
  libs/core/src/stories/_helpers/index.ts
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Due: eslint

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/doc-components/CHANGELOG.md
  libs/doc-components/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Due: eslint

style(avatar): rename css variable
  libs/core/src/components/pds-avatar/pds-avatar.scss
Due: stylelint

fix(avatar): change tsdoc description
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

fix(avatar): add new size
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

feat(button): add new variant
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

feat(button): add new variant (#71)
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

ci: update to check outputs for multiple paths released
  .github/workflows/release-please.yml
Due: none

feat(avatar): add new size
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

ci: update to check outputs for multiple paths released
  .github/workflows/release-please.yml
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

ci: update publish-npm workflow to ignore versioning
  .github/workflows/actions/publish-npm/action.yml
Due: none

fix(avatar): whitespace
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

ci: update action versions to v4
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/release-please-v2.yml
Due: none

ci: version bump
  .release-please-manifest.json
  .tool-versions
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Due: none

ci: disable old version of release please
  .github/workflows/release-please.yml
Due: none

ci: sure
  .github/workflows/release-please-v2.yml
Due: none

ci: attempt to publish projects
  .github/workflows/release-please-v2.yml
Due: none

ci: update to check outputs for multiple paths released
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

Fix/avatar whitespace (#78)
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

Path conditions:
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,jsx,md,mdx,ts,tsx}
