Repository ju-Skinner/supreme-waffle: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint

fix(button): add TSdoc for component slot
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

fix(button): add TSdoc for component slot (#80)
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

ci: attempt to publish projects
  .github/workflows/release-please-v2.yml
  .release-please-manifest.json
Due: none

ci: version bump
  .release-please-manifest.json
  .tool-versions
  package-lock.json
Due: none

ci: modifications to use npm install vs npm ci
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/release-please-v2.yml
Due: none

ci: version bump
  .release-please-manifest.json
  .tool-versions
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Due: none

ci: attempt to publish projects
  .github/workflows/release-please-v2.yml
Due: none

ci: attempt to publish projects
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/release-please-v2.yml
Due: none

ci: get release-please workflow in sync
  .github/workflows/release-please-v2.yml
  .github/workflows/release-please.yml
Due: none

fix(avatar): add new size
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

ci: slack notifications
  .github/workflows/release-please.yml
  .github/workflows/slack-release-info-payload-.json
Due: none

ci: changelog sections
  release-please-config.json
Due: none

doc(avatar): update avatar documentation
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

style: adjust css styles for color length
  libs/.stylelintrc.json
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/_color.scss
Due: stylelint

fix(avatar): sizing issue (#91)
  libs/.stylelintrc.json
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/_color.scss
Due: stylelint, eslint

fix(avatar): remove xxs size
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

ci: update package-lock.json due to conflct in main
  package-lock.json
Due: none

fix(avatar): remove xxs size (#92)
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  package-lock.json
Due: eslint

ci: slack notifications
  .github/workflows/release-please.yml
  .github/workflows/slack-release-info-payload.json
Due: none

ci: slack notification test workflow
  .github/workflows/send-slack-notification.yml
Due: none

ci: update slack payload json
  .github/workflows/send-slack-notification.yml
  .github/workflows/slack-release-info-payload.json
Due: none

ci: update release-please to send slack notification
  .github/workflows/release-please.yml
  .github/workflows/slack-release-info-payload.json
Due: none

ci: add release output variables
  .github/workflows/release-please.yml
Due: none

feat(avatar): add new size
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

feat(avatar): remove xxl size
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

ci: try different output variables
  .github/workflows/release-please.yml
Due: none

Path conditions:
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,jsx,md,mdx,ts,tsx}
