Repository ju-Skinner/supreme-waffle: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint

.lintstagedrc.json:

{
  "*.{css,scss}": [
    "stylelint"
  ],
  "*.{js,jsx,md,mdx,ts,tsx}": [
    "eslint "
  ]
}

chore: add css steps to both core and react libraries
  libs/core/.gitignore
  libs/core/package.json
  libs/core/scripts/clean.ts
  libs/react/.gitignore
  libs/react/package.json
  libs/react/scripts/copy.js
  package-lock.json
Due: eslint

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Due: eslint

fix: versions
  libs/core/package.json
  libs/react/package.json
Due: none

fix(react): add missing exports
  libs/react/src/components/PdsIcon.tsx
  libs/react/src/components/index.ts
  libs/react/src/index.ts
Due: eslint

fix(pds-link): icons should be imported and set via icon property
  libs/core/src/components/pds-link/pds-link.tsx
Due: eslint

chore: update ideal-octo-sniffle package to latest version [skip ci]
  libs/core/package.json
  libs/react/package.json
  package-lock.json
Due: none

chore: bootstrap releases for path: .
  release-please-config.json
Due: none

ci: release-please v4 changes
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
Due: none

ci: release-please v4 changes
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

chore: change releases not to be a prerelease
  release-please-config.json
Due: none

chore: fix failing link test due to icon changes
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Due: eslint

chore: add missing forward slash
  libs/core/.gitignore
Due: none

feat(button)!: remove componentId
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
Due: eslint

fix(avatar): whitespace
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Due: eslint

fix(button): add TSdoc for component slot
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

refactor(button): whitespace issue in code file
  libs/core/src/components/pds-button/pds-button.tsx
Due: eslint

feat: add doc components
  .github/labeler.yml
  .release-please-manifest.json
  libs/doc-components/.eslintrc.cjs
  libs/doc-components/.gitignore
  libs/doc-components/package.json
  libs/doc-components/public/doc-args-table.png
  libs/doc-components/public/doc-canvas-active-tab.png
  libs/doc-components/public/doc-canvas-default-state.png
  libs/doc-components/public/vite.svg
  libs/doc-components/readme.md
  libs/doc-components/src/assets/docs.d.ts
  libs/doc-components/src/assets/react.svg
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
  libs/doc-components/src/components/docArgsTable/index.ts
  libs/doc-components/src/components/docCanvas/docCanvas.css
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
  libs/doc-components/src/components/docCanvas/index.ts
  libs/doc-components/src/components/index.ts
  libs/doc-components/src/index.ts
  libs/doc-components/src/vite-env.d.ts
  libs/doc-components/tsconfig.json
  libs/doc-components/tsconfig.node.json
  libs/doc-components/vite.config.ts
  release-please-config.json
  tsconfig.json
Due: stylelint, eslint

style: update tokens
  libs/core/package.json
  libs/core/src/global/styles/app.scss
  libs/core/src/global/styles/tokens/core/border-radius.json
  libs/core/src/global/styles/tokens/core/border-width.json
  libs/core/src/global/styles/tokens/core/box-shadow.json
  libs/core/src/global/styles/tokens/core/color.json
  libs/core/src/global/styles/tokens/core/font-family.json
  libs/core/src/global/styles/tokens/core/font-size.json
  libs/core/src/global/styles/tokens/core/font-weight.json
  libs/core/src/global/styles/tokens/core/letter-spacing.json
  libs/core/src/global/styles/tokens/core/line-height.json
  libs/core/src/global/styles/tokens/core/spacing.json
  libs/core/src/global/styles/tokens/semantic/_tokens.scss
  libs/core/src/global/styles/tokens/semantic/semantic.json
  package-lock.json
Due: stylelint

chore: add tslib dependency
  libs/core/package.json
  libs/react/package.json
  package-lock.json
Due: none

chore: fix react package.json missing dependency
  libs/react/package.json
  package-lock.json
Due: none
